[submodule "buildrump.sh"]
	path = buildrump.sh
	url = https://github.com/rumpkernel/buildrump.sh.git
[submodule "nblib"]
	path = nblib
	url = https://github.com/rumpkernel/xen-nblibc.git
[submodule "nbusersrc"]
	path = nbusersrc
	url = https://github.com/rumpkernel/netbsd-userspace-src
